.gw,
.grid-wrapper {
  list-style: none;
  margin-bottom: 0;
  margin-left: -1.5rem;
  clear: both;
}

@supports (display: grid) {
  .gw,
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    margin-left: 0;
  }
  @media screen and (min-width: 48em) {
    .gw,
.grid-wrapper {
      grid-gap: 3rem;
    }
  }
}
.gw--rev > .g,
.grid-wrapper--rev > .grid {
  float: right;
}

.gw--full,
.grid-wrapper--full {
  margin-left: 0;
  grid-gap: 0;
}
.gw--full > .g,
.gw--full > .grid,
.grid-wrapper--full > .g,
.grid-wrapper--full > .grid {
  padding-left: 0;
}

.gw > .gw,
.grid-wrapper > .grid-wrapper {
  margin-left: 0;
}

.g,
.grid {
  float: left;
  width: 100%;
  padding-left: 1.5rem;
  transition: width 0.15s ease;
}

@supports (display: grid) {
  .g,
.grid {
    padding-left: 0;
  }
}
.one-whole {
  grid-column: span 12;
}

.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  grid-column: span 6;
}

.one-third, .two-sixths, .four-twelfths {
  grid-column: span 4;
}

.two-thirds, .four-sixths, .eight-twelfths {
  grid-column: span 8;
}

.one-quarter, .two-eighths, .three-twelfths {
  grid-column: span 3;
}

.three-quarters, .six-eighths, .nine-twelfths {
  grid-column: span 9;
}

.one-fifth, .two-tenths {
  grid-column: span 2.4;
}

.two-fifths, .four-tenths {
  grid-column: span 4.8;
}

.three-fifths, .six-tenths {
  grid-column: span 7.2;
}

.four-fifths, .eight-tenths {
  grid-column: span 9.6;
}

.one-sixth, .two-twelfths {
  grid-column: span 2;
}

.five-sixths, .ten-twelfths {
  grid-column: span 10;
}

.one-eighth {
  grid-column: span 1.5;
}

.three-eighths {
  grid-column: span 4.5;
}

.five-eighths {
  grid-column: span 7.5;
}

.seven-eighths {
  grid-column: span 10.5;
}

.one-tenth {
  grid-column: span 1.2;
}

.three-tenths {
  grid-column: span 3.6;
}

.seven-tenths {
  grid-column: span 8.4;
}

.nine-tenths {
  grid-column: span 10.8;
}

.one-twelfth {
  grid-column: span 1;
}

.five-twelfths {
  grid-column: span 5;
}

.seven-twelfths {
  grid-column: span 7;
}

.eleven-twelfths {
  grid-column: span 11;
}

@media screen and (min-width: 23.75em) {
  .hand-one-whole {
    grid-column: span 12;
  }

  .hand-one-half, .hand-two-quarters, .hand-three-sixths, .hand-four-eighths, .hand-five-tenths, .hand-six-twelfths {
    grid-column: span 6;
  }

  .hand-one-third, .hand-two-sixths, .hand-four-twelfths {
    grid-column: span 4;
  }

  .hand-two-thirds, .hand-four-sixths, .hand-eight-twelfths {
    grid-column: span 8;
  }

  .hand-one-quarter, .hand-two-eighths, .hand-three-twelfths {
    grid-column: span 3;
  }

  .hand-three-quarters, .hand-six-eighths, .hand-nine-twelfths {
    grid-column: span 9;
  }

  .hand-one-fifth, .hand-two-tenths {
    grid-column: span 2.4;
  }

  .hand-two-fifths, .hand-four-tenths {
    grid-column: span 4.8;
  }

  .hand-three-fifths, .hand-six-tenths {
    grid-column: span 7.2;
  }

  .hand-four-fifths, .hand-eight-tenths {
    grid-column: span 9.6;
  }

  .hand-one-sixth, .hand-two-twelfths {
    grid-column: span 2;
  }

  .hand-five-sixths, .hand-ten-twelfths {
    grid-column: span 10;
  }

  .hand-one-eighth {
    grid-column: span 1.5;
  }

  .hand-three-eighths {
    grid-column: span 4.5;
  }

  .hand-five-eighths {
    grid-column: span 7.5;
  }

  .hand-seven-eighths {
    grid-column: span 10.5;
  }

  .hand-one-tenth {
    grid-column: span 1.2;
  }

  .hand-three-tenths {
    grid-column: span 3.6;
  }

  .hand-seven-tenths {
    grid-column: span 8.4;
  }

  .hand-nine-tenths {
    grid-column: span 10.8;
  }

  .hand-one-twelfth {
    grid-column: span 1;
  }

  .hand-five-twelfths {
    grid-column: span 5;
  }

  .hand-seven-twelfths {
    grid-column: span 7;
  }

  .hand-eleven-twelfths {
    grid-column: span 11;
  }
}
@media screen and (min-width: 38.0625em) {
  .lap-one-whole {
    grid-column: span 12;
  }

  .lap-one-half, .lap-two-quarters, .lap-three-sixths, .lap-four-eighths, .lap-five-tenths, .lap-six-twelfths {
    grid-column: span 6;
  }

  .lap-one-third, .lap-two-sixths, .lap-four-twelfths {
    grid-column: span 4;
  }

  .lap-two-thirds, .lap-four-sixths, .lap-eight-twelfths {
    grid-column: span 8;
  }

  .lap-one-quarter, .lap-two-eighths, .lap-three-twelfths {
    grid-column: span 3;
  }

  .lap-three-quarters, .lap-six-eighths, .lap-nine-twelfths {
    grid-column: span 9;
  }

  .lap-one-fifth, .lap-two-tenths {
    grid-column: span 2.4;
  }

  .lap-two-fifths, .lap-four-tenths {
    grid-column: span 4.8;
  }

  .lap-three-fifths, .lap-six-tenths {
    grid-column: span 7.2;
  }

  .lap-four-fifths, .lap-eight-tenths {
    grid-column: span 9.6;
  }

  .lap-one-sixth, .lap-two-twelfths {
    grid-column: span 2;
  }

  .lap-five-sixths, .lap-ten-twelfths {
    grid-column: span 10;
  }

  .lap-one-eighth {
    grid-column: span 1.5;
  }

  .lap-three-eighths {
    grid-column: span 4.5;
  }

  .lap-five-eighths {
    grid-column: span 7.5;
  }

  .lap-seven-eighths {
    grid-column: span 10.5;
  }

  .lap-one-tenth {
    grid-column: span 1.2;
  }

  .lap-three-tenths {
    grid-column: span 3.6;
  }

  .lap-seven-tenths {
    grid-column: span 8.4;
  }

  .lap-nine-tenths {
    grid-column: span 10.8;
  }

  .lap-one-twelfth {
    grid-column: span 1;
  }

  .lap-five-twelfths {
    grid-column: span 5;
  }

  .lap-seven-twelfths {
    grid-column: span 7;
  }

  .lap-eleven-twelfths {
    grid-column: span 11;
  }
}
@media screen and (min-width: 48em) {
  .tablet-one-whole {
    grid-column: span 12;
  }

  .tablet-one-half, .tablet-two-quarters, .tablet-three-sixths, .tablet-four-eighths, .tablet-five-tenths, .tablet-six-twelfths {
    grid-column: span 6;
  }

  .tablet-one-third, .tablet-two-sixths, .tablet-four-twelfths {
    grid-column: span 4;
  }

  .tablet-two-thirds, .tablet-four-sixths, .tablet-eight-twelfths {
    grid-column: span 8;
  }

  .tablet-one-quarter, .tablet-two-eighths, .tablet-three-twelfths {
    grid-column: span 3;
  }

  .tablet-three-quarters, .tablet-six-eighths, .tablet-nine-twelfths {
    grid-column: span 9;
  }

  .tablet-one-fifth, .tablet-two-tenths {
    grid-column: span 2.4;
  }

  .tablet-two-fifths, .tablet-four-tenths {
    grid-column: span 4.8;
  }

  .tablet-three-fifths, .tablet-six-tenths {
    grid-column: span 7.2;
  }

  .tablet-four-fifths, .tablet-eight-tenths {
    grid-column: span 9.6;
  }

  .tablet-one-sixth, .tablet-two-twelfths {
    grid-column: span 2;
  }

  .tablet-five-sixths, .tablet-ten-twelfths {
    grid-column: span 10;
  }

  .tablet-one-eighth {
    grid-column: span 1.5;
  }

  .tablet-three-eighths {
    grid-column: span 4.5;
  }

  .tablet-five-eighths {
    grid-column: span 7.5;
  }

  .tablet-seven-eighths {
    grid-column: span 10.5;
  }

  .tablet-one-tenth {
    grid-column: span 1.2;
  }

  .tablet-three-tenths {
    grid-column: span 3.6;
  }

  .tablet-seven-tenths {
    grid-column: span 8.4;
  }

  .tablet-nine-tenths {
    grid-column: span 10.8;
  }

  .tablet-one-twelfth {
    grid-column: span 1;
  }

  .tablet-five-twelfths {
    grid-column: span 5;
  }

  .tablet-seven-twelfths {
    grid-column: span 7;
  }

  .tablet-eleven-twelfths {
    grid-column: span 11;
  }
}
@media screen and (min-width: 72em) {
  .desk-one-whole {
    grid-column: span 12;
  }

  .desk-one-half, .desk-two-quarters, .desk-three-sixths, .desk-four-eighths, .desk-five-tenths, .desk-six-twelfths {
    grid-column: span 6;
  }

  .desk-one-third, .desk-two-sixths, .desk-four-twelfths {
    grid-column: span 4;
  }

  .desk-two-thirds, .desk-four-sixths, .desk-eight-twelfths {
    grid-column: span 8;
  }

  .desk-one-quarter, .desk-two-eighths, .desk-three-twelfths {
    grid-column: span 3;
  }

  .desk-three-quarters, .desk-six-eighths, .desk-nine-twelfths {
    grid-column: span 9;
  }

  .desk-one-fifth, .desk-two-tenths {
    grid-column: span 2.4;
  }

  .desk-two-fifths, .desk-four-tenths {
    grid-column: span 4.8;
  }

  .desk-three-fifths, .desk-six-tenths {
    grid-column: span 7.2;
  }

  .desk-four-fifths, .desk-eight-tenths {
    grid-column: span 9.6;
  }

  .desk-one-sixth, .desk-two-twelfths {
    grid-column: span 2;
  }

  .desk-five-sixths, .desk-ten-twelfths {
    grid-column: span 10;
  }

  .desk-one-eighth {
    grid-column: span 1.5;
  }

  .desk-three-eighths {
    grid-column: span 4.5;
  }

  .desk-five-eighths {
    grid-column: span 7.5;
  }

  .desk-seven-eighths {
    grid-column: span 10.5;
  }

  .desk-one-tenth {
    grid-column: span 1.2;
  }

  .desk-three-tenths {
    grid-column: span 3.6;
  }

  .desk-seven-tenths {
    grid-column: span 8.4;
  }

  .desk-nine-tenths {
    grid-column: span 10.8;
  }

  .desk-one-twelfth {
    grid-column: span 1;
  }

  .desk-five-twelfths {
    grid-column: span 5;
  }

  .desk-seven-twelfths {
    grid-column: span 7;
  }

  .desk-eleven-twelfths {
    grid-column: span 11;
  }
}
@media screen and (min-width: 75em) {
  .wall-one-whole {
    grid-column: span 12;
  }

  .wall-one-half, .wall-two-quarters, .wall-three-sixths, .wall-four-eighths, .wall-five-tenths, .wall-six-twelfths {
    grid-column: span 6;
  }

  .wall-one-third, .wall-two-sixths, .wall-four-twelfths {
    grid-column: span 4;
  }

  .wall-two-thirds, .wall-four-sixths, .wall-eight-twelfths {
    grid-column: span 8;
  }

  .wall-one-quarter, .wall-two-eighths, .wall-three-twelfths {
    grid-column: span 3;
  }

  .wall-three-quarters, .wall-six-eighths, .wall-nine-twelfths {
    grid-column: span 9;
  }

  .wall-one-fifth, .wall-two-tenths {
    grid-column: span 2.4;
  }

  .wall-two-fifths, .wall-four-tenths {
    grid-column: span 4.8;
  }

  .wall-three-fifths, .wall-six-tenths {
    grid-column: span 7.2;
  }

  .wall-four-fifths, .wall-eight-tenths {
    grid-column: span 9.6;
  }

  .wall-one-sixth, .wall-two-twelfths {
    grid-column: span 2;
  }

  .wall-five-sixths, .wall-ten-twelfths {
    grid-column: span 10;
  }

  .wall-one-eighth {
    grid-column: span 1.5;
  }

  .wall-three-eighths {
    grid-column: span 4.5;
  }

  .wall-five-eighths {
    grid-column: span 7.5;
  }

  .wall-seven-eighths {
    grid-column: span 10.5;
  }

  .wall-one-tenth {
    grid-column: span 1.2;
  }

  .wall-three-tenths {
    grid-column: span 3.6;
  }

  .wall-seven-tenths {
    grid-column: span 8.4;
  }

  .wall-nine-tenths {
    grid-column: span 10.8;
  }

  .wall-one-twelfth {
    grid-column: span 1;
  }

  .wall-five-twelfths {
    grid-column: span 5;
  }

  .wall-seven-twelfths {
    grid-column: span 7;
  }

  .wall-eleven-twelfths {
    grid-column: span 11;
  }
}
.nav {
  position: relative;
}

.event-tiles-container {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  border-radius: 5px;
}

.event-tile {
  padding: 1.6rem !important;
  color: #f7f7f7;
  background: #edab5c;
  flex: 2 1 250px;
}

.event-tile .event-title {
  text-transform: uppercase;
  padding: 0.7rem 0;
  clear: both;
}

.event-tile .event-start,
.event-tile .event-end {
  text-transform: uppercase;
  float: left;
}

.event-tile .event-start-date {
  font-size: 1.4rem;
  margin-bottom: -5px;
}

.event-tile .event-end-date {
  font-size: 0.9rem;
  margin-bottom: -2px;
}

.event-tile .event-start-month,
.event-tile .event-end-month {
  text-align: right;
}

.event-tile .event-end {
  opacity: 0.9;
  font-size: 65%;
  padding-left: 5px;
}

.event-tile .event-time,
.event-tile .event-location {
  font-size: 80%;
}

.event-tile.alternate-1 {
  background-color: #f76383;
}

.event-tile.alternate-2 {
  background-color: #835de0;
}

.event-tile.alternate-3 {
  background-color: #2997b0;
}

.event-tile.alternate-4 {
  background-color: #60c94e;
}

.event-cards-container {
  border-radius: 5px;
  overflow: hidden;
}

.event-cards-container .event-card {
  color: #5d5d5d;
  border: solid 1px #ddd;
  border-left-color: #edab5c;
  border-left-width: 5px;
  border-bottom: 0;
  padding: 0.7rem;
  display: grid;
  grid-template-columns: 5.5rem auto;
}

.event-cards-container .event-card .event-title {
  color: #444;
  text-transform: uppercase;
  clear: both;
}

.event-cards-container .event-card .event-start,
.event-cards-container .event-card .event-end {
  text-transform: uppercase;
}

.event-cards-container .event-card .event-start,
.event-cards-container .event-card .event-end {
  color: #8c8c8c;
  float: left;
}

.event-cards-container .event-card .event-start-date {
  font-size: 1.4rem;
  margin-bottom: -5px;
}

.event-cards-container .event-card .event-end-date {
  font-size: 0.9rem;
  margin-bottom: -2px;
}

.event-cards-container .event-card .event-start-month,
.event-cards-container .event-card .event-end-month {
  text-align: right;
}

.event-cards-container .event-card .event-end {
  opacity: 0.9;
  font-size: 65%;
  padding-left: 5px;
}

.event-cards-container .event-card .event-time,
.event-cards-container .event-card .event-location {
  font-size: 80%;
}

.event-cards-container .event-card:last-child {
  border-bottom: 1px solid #ddd;
}

.event-card.alternate-1 {
  border-left-color: #f76383;
}

.event-card.alternate-2 {
  border-left-color: #835de0;
}

.event-card.alternate-3 {
  border-left-color: #2997b0;
}

.event-card.alternate-4 {
  border-left-color: #60c94e;
}